<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h1>Assignment 4: Services</h1>
      <hr>
        <p>Optimize this app by adding a UsersService which manages the active and inactive users.</p>
        <p>Also add a CounterService which counts the number of active->inactive and inactive->active actions.</p>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <app-active-users
        [users]="activeUsers"></app-active-users>
      <app-inactive-users
        [users]="inactiveUsers"></app-inactive-users>
    </div>
  </div>
</div>
